@model IEnumerable<Express_Voitures.Models.Finition>

@{
ViewData["Title"] = "Liste des finitions";
}

<div class="container-sm">
    <h1>Liste des finitions</h1>

    <p>
        <a asp-action="Create">Créer une nouvelle finition</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>