@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation d'inscription";
}
<div class="container-sm">
    <h1>@ViewData["Title"]</h1>
    <p>
        Merci de vous être inscrit. Veuillez consulter votre boîte mail pour confirmer votre adresse email.
    </p>
</div>