@model IEnumerable<Express_Voitures.Models.Marque>

@{
ViewData["Title"] = "Liste des marques";
}

<div class="container-sm">
    <h1>Liste des marques</h1>

    <button class="button">
        <i class="bi bi-plus"></i>
        <a asp-action="Create" class="button">Créer une nouvelle marque</a>
    </button>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>